* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: cursive;
}

/** Header **/
header nav ul {
  display: flex;
  justify-content: space-around;
  /* align-content: center; */
  list-style-type: none;
  background-color: antiquewhite;
  margin: 0;
  height: 5vh;
}

header ul a {
  text-decoration: none;
}

/** canvas-container **/
.canvas-container {
  display: flex;
  background-color: rgb(209, 89, 89);
  margin: auto;
  width: 90vw;
  height: 90vh;
}

canvas {
  display: block;
  margin: auto;
  background-color: white;
  border: 1px solid black;
}

/** Gallery Section **/
.gallery-container {
  margin: auto;
  display: flex;
  gap: 10px;
  width: 300px;
}

.gallery-container img {
  width: 100%;
}
