* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: cursive;
  background: radial-gradient(circle, rgba(174, 180, 238, 1) 0%, rgba(172, 233, 148, 1) 100%);
}

/** Header **/
header .logo {
  text-align: start;
}

header nav ul {
  display: grid;
  grid-template-columns: 50% repeat(3, 1fr);
  gap: 5px;
  text-align: center;
  list-style-type: none;
  background-color: antiquewhite;
  margin: 0;
  height: 5vh;
}

header ul li:not(:first-child):hover {
  border-bottom: 3px solid green;
  background-color: rgb(233, 217, 195);
  transition: 0.3s;
  scale: 1.1;
}

header li img {
  height: 50px;
}

header a {
  text-decoration: none;
}

/** canvas-container **/
.canvas-container {
  display: flex;
  background-color: rgb(170, 163, 163);
  margin: auto;
  margin-top: 10px;
  width: max-content;
  border-radius: 15px;
  box-shadow: -8px 5px 16px 0px rgba(87, 90, 76, 0.6);
}

canvas {
  display: block;
  margin: auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
}

/** Editor Right BAR **/
.editor {
  display: grid;
  gap: 22px;
  grid-template-rows: 30px 65px 145px 145px 95px;
  padding: 15px;
}

.editor .btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 1px solid rgb(144, 138, 138);
  border-radius: 10px;
}

.editor .btn,
.editor label {
  border-radius: 10px;
  border: none;
  width: 30px;
  height: 23px;
  cursor: pointer;
  background-color: rgb(243, 229, 255);
  transition: 0.2s;
}

.editor .btn:hover {
  background-color: rgb(219, 195, 239);
  scale: 1.1;
}

.editor img {
  width: 100%;
}

/** gallery tool bar **/
.gallery-toolbar {
  display: flex;
}

/** Gallery Section **/
.gallery-container {
  border: 1px solid grey;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 800px;
  background-color: rgb(206, 230, 243);
}

.gallery-container img {
  width: 160px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 15px;
}

.gallery-container img:hover {
  scale: 1.2;
}

/** Footer **/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(240, 242, 199);
  color: rgb(0, 0, 0);
  text-align: center;
}

/* MOBILE */
@media (max-width: 480px) {
  /** canvas-container **/
  .canvas-container {
    display: flex;
    flex-direction: column;
  }
  canvas {
    height: 300px;
  }

  .editor {
    display: grid;
    gap: 22px;
    grid-template-rows: 20px 30px 90px 90px 50px;
    padding: 15px;
  }
}
